{% extends "layout.html" %}
{% block content %}

	    <header class="masthead" style="background-image: url('static/images/1.png')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Keep Children Healthy during the COVID-19 Pandemic</h1>
                            <span class="subheading">Wash your hands with soap and water for 20 seconds, and encourage your child to do the same. Read more and watch a video on how to wash hands correctly.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="row">
    
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent" >
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
               <p><strong>Does Coronavirus affect children?</strong></p>
               <p>COVID-19 is called the “Novel Coronavirus” for a reason. There is much more to be learned about how the disease impacts children. But as per data available to date in this outbreak, compared with adult cases, there are relatively fewer cases of children, milder symptoms and better prognosis. According to the final report of a joint mission the World Health Organization and China formed to study the coronavirus in China, children under 18 made up only 2.4% of all reported cases, and most were mild. Just 2.5% of kids under the age of 19 developed a severe case; 0.2% were critical.</p> 

                <p><strong>What if my child develops fever, cough and sore throat?</strong></p>
                <ul>
                  <li>Do your best to stay calm.</li>
                  <li>Talk to a healthcare provider. The doctor will take a detailed history and make an assessment of the severity of the condition. Only if there is a history of close contact with a COVID-19 patient, then testing may be recommended. There are many other causes of children developing fever and sore throat which can be managed by routine medicines. It is therefore important to follow instructions given and give your child medications as advised by your paediatrician.</li>
                  <li>Help your child get plenty of rest and drink lots of liquids.</li>
                    <li>Watch for signs that your child might need more medical help, such as trouble breathing, fast breathing, sleepiness, not being able to eat or drink, or signs of dehydration like peeing less than usual. If yes then immediately take the child to the ER.</li>
                  
                </ul>

                <p><strong>How to promote hygienic practices among children?</strong></p>
                <ul>
                  <li>Children can be the biggest health crusaders. Explain the importance of following hygienic practices and their role in disease prevention.</li>
                  <li>Teach them to wash hands with soap and water for at least 20 seconds or use alcohol-based hand sanitizer.Ask them to avoid touching eyes, nose, and mouth repeatedly or without washing hands.</li>
                  <li>Make sure kids follow good respiratory hygiene. This means covering their mouth and nose with bent elbow or tissue when they cough or sneeze. Then dispose of the used tissue immediately.</li>
                    <li>Use regular household cleaners or wipes to clean things that get touched a lot (doorknobs, light switches, toys, remote controls, phones, etc.). Do this every day.</li>
                  <li>Lastly lead by example. Kids learn what they see so parents who follow good hygiene will, as a result, encourage their children to do the same.</li>
                </ul>


                <p><strong>How to keep kids engaged at home?</strong></p>
                <ul>
                  <li>Most of the schools are closed due to lockdown. But many of them are uploading daily tasks and some lessons so that the flow of their studies is not disrupted. Make sure your children devote some time to their academic curriculum.</li>
                  <li>Indoor games, activity books, and puzzles will be fun for children and a way to prevent them from remaining constantly glued to mobile games.</li>
                  <li>Children may spend a lot of time watching tv or on the computer/laptop. Try to limit screen time to not more than a few hours per day.</li>
                    <li>Kids can be encouraged to pursue hobbies such as painting, reading storybooks, cooking, etc.</li>
                  <li>Family yoga or doing simple exercises together can relieve stress and keep everyone healthy.</li>
                  <li>Focus on the positive. Don’t forget to laugh and enjoy the quality time with your kids.</li>
                </ul>

                <p><strong>What are other things to keep in mind?</strong></p>
                <ul>
                  <li>Children especially if they are older can get anxious and may have a lot of misconceptions. Talk to them, answer all their questions, and make them feel secure.</li>
                  <li>In today’s times, most of the teenagers are quite active on social media and various digital platforms. Emphasize to them the difference between real and fake news and provide guidance about responsible online behaviour.</li>
                  <li>Children may throw tantrums as they don’t get to go out to restaurants or malls. They need to be explained very calmly about the need for social distancing. Also, teach them to inculcate hygienic practices as a part of daily routine even after the Lockdown ends. This will benefit them in the future also.</li>
                    <li>Promote healthy eating habits. Parents can use innovative ways to encourage consumption of home-made food.</li>
                  <li>Remember to stay home and stay safe.</li>
                 
                </ul>
            </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
            </div>
          </div>
        </div>
{% endblock %}