{% extends "layout.html" %}
{% block content %}

	    <header class="masthead" style="background-image: url('static/images/7.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Food and nutrition tips during Covid-19</h1>
                            <span class="subheading">Good nutrition is crucial for health, particularly in times when the immune system might need to fight back.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="text-justify">
            <p>As countries are taking stronger measures to contain the spread of COVID-19, self-quarantine and the temporary closing of businesses may affect normal food-related practices. Healthy individuals, as well as those showing acute respiratory disease symptoms, are being requested to stay at home. In some countries, restaurants and take-away offers are being limited and some fresh items are becoming less available.</p>
            <p>Good nutrition is crucial for health, particularly in times when the immune system might need to fight back. Limited access to fresh foods may compromise opportunities to continue eating a healthy and varied diet. It can also potentially lead to an increased consumption of highly processed foods, which tend to be high in fats, sugars and salt. Nonetheless, even with few and limited ingredients, one can continue eating a diet that supports good health.</p>
            <p>For optimal health, it is also important to remain physically active. To support healthy individuals in staying physically active while at home, WHO/Europe has developed specific guidance for periods of quarantine, including tips and examples of home-based exercises.</p>
        </div>
        <div>
            <h2 class="text-center">GENERAL TIPS</h2>
            <p>Multiple cases of over-purchasing have been observed throughout the WHO European Region. Panic buying behaviour may have negative consequences, such as an increase in food prices, overconsumption of food and an unequal distribution of products. It is therefore important to consider your own needs, as well as those of others. Assess what you already have at home and plan your intake. You might feel the need to purchase large amounts of foods, but make sure to consider and utilize what is already in your pantry, as well as foods with shorter shelf life. This way you can avoid food waste and allow others to access the food they need.</p>

            <h2 class="text-center">Be strategic about the use of ingredients - prioritize fresh products</h2>
            <p>Use fresh ingredients and those that have a shorter shelf life first. If fresh products, especially fruits, vegetables and reduced-fat dairy products continue to be available, prioritize these over non-perishables. Frozen fruits and vegetables can also conveniently be used over longer periods of time and often have a similar nutrient profile to fresh foods. To avoid food waste, you may consider freezing any leftovers for another meal.</p>

            <h2 class="text-center">Prepare home-cooked meals</h2>
            <p>During regular daily life, many individuals often do not have the time to prepare home-cooked meals. Spending longer periods of time at home may now offer the possibility to make those recipes you previously did not have time to make. Many healthy and delicious recipes can be found online. Take advantage of the wealth of freely available information, and experiment with the ingredients you can access, but remember to keep in mind the principles for healthy eating offered in this guidance. Some examples of healthy recipes with accessible ingredients may also be found below.</p>

            <h2 class="text-center">Take advantage of food delivery options </h2>
            <p>Although home-cooked meals should be prioritized, some cities and countries have rather advanced delivery systems for ingredients and ready meals, and many businesses are now starting to offer this service. Some solutions include “contact-less” options, where no human interaction is required, thus supporting self-quarantine and isolation measures. These should be prioritized, particularly from reliable businesses following strict food hygiene requirements. For food delivery and transportation, it is important to keep food at safe temperatures (below 5 °C or above 60 °C). Keeping in mind that these services might be overwhelmed, you might want to consider exploring what is available in your area.</p>

            <h2 class="text-center">Be aware of portion sizes  </h2>
            <p>It can be difficult to get portion sizes right, especially when cooking from scratch. Being at home for extended periods, especially without company or with limited activities can also lead to overeating. Seek guidance through your national food-based dietary guidelines on what constitutes healthy portions for adults and be mindful that young children will need smaller portions.</p>

            <h2 class="text-center">Follow safe food handling practices </h2>
            <p>Food safety is a prerequisite for food security and a healthy diet. Only safe food is healthy food. When preparing food for yourself and others, it is important to follow good food hygiene practices to avoid food contamination and foodborne diseases. The key principles of good food hygiene include:
            <ul>
                <li>keep your hands, kitchen and utensils clean.</li>
                <li>separate raw and cooked food, especially raw meat and fresh produce.</li>
                <li>cook your food thoroughly</li>
                <li>keep your food at safe temperatures, either below 5 °C or above 60 °C </li>
                <li>use safe water and raw material.</li>
            </ul>

            <p>By following these five key recommendations for safer food, you can prevent many common foodborne diseases.</p>



            <h2 class="text-center">Limit your salt intake</h2>
            <p>The availability of fresh foods may decrease and it may therefore become necessary to rely more on canned, frozen or processed foods. Many of these foods contain high levels of salt. WHO recommends consuming less than 5 g of salt per day. In order to achieve this, prioritize foods with reduced or no added salt. You may also consider rinsing canned foods such as vegetables and beans, to remove some of the excess sodium. Be aware that pickled foods often contain high levels of sodium too. In many countries, 50–75% of the salt intake comes from the foods we eat, rather than what we add ourselves. Given that you might be consuming enough salt already, avoid adding extra salt when cooking and to your meals at the table. Experiment with fresh or dried herbs and spices for added flavour instead.</p>

             <h2 class="text-center">Limit your sugar intake </h2>
            <p>WHO recommends that ideally less than 5% of total energy intake for adults should come from free sugars (about 6 teaspoons). If you crave something sweet, fresh fruit should always be the priority. Frozen fruits, canned fruits in juice rather than syrup, and dried fruits with no added sugar are also good options. When other dessert options are chosen, ensure that they are low in sugar and consume small portions. Watch out for low fat options, as these are often high in added sugars. Limit the amount of sugar or honey added to foods and avoid sweetening your beverages.</p>

             <h2 class="text-center">Limit your fat intake  </h2>
            <p>WHO recommends limiting total fat intake to less than 30% of total energy intake, of which no more than 10% should come from saturated fat. To achieve this, opt for cooking methods that require less or no fat, such as steaming, grilling or sautéing instead of frying foods. If needed, use small amounts of unsaturated oils like rapeseed, olive or sunflower oil to cook foods. Prefer foods that contain healthy sources of unsaturated fats, such as fish and nuts. To limit saturated fats, trim excess fat from meat and poultry and choose skinless options. Reduce foods such as red and fatty meats, butter and full-fat dairy products, palm oil, coconut oil, solid shortening and lard.</p>
            <p>Avoid trans fats as much as possible. Read nutrition labels to ensure that partially hydrogenated oils are not listed in the ingredients. If food labels are not available, avoid foods which commonly contain trans fats such as processed and fried foods, like doughnuts and baked goods – including biscuits, pie crusts, frozen pizzas, cookies, crackers and margarines that include partially hydrogenated fat. If in doubt, minimally processed foods and ingredients are better choices.</p>

             <h2 class="text-center">Consume enough fibre</h2>
            <p>Fibre contributes to a healthy digestive system and offers a prolonged feeling of fullness, which helps prevent overeating. To ensure an adequate fibre intake, aim to include vegetables, fruit, pulses and wholegrain foods in all meals. Wholegrains foods include oats, brown pasta and rice, quinoa and whole-wheat bread and wraps, rather than refined grain foods such as white pasta and rice, and white bread. </p>

             <h2 class="text-center">Stay hydrated </h2>
            <p>Good hydration is crucial for optimal health. Whenever available and safe for consumption, tap water is the healthiest and cheapest drink. It is also the most sustainable, as it produces no waste, compared to bottled water. Drinking water instead of sugar-sweetened beverages is a simple way to limit your intake of sugar and excess calories. To enhance its taste, fresh or frozen fruits like berries or slices of citrus fruits may be added, as well as cucumber or herbs such as mint, lavender or rosemary.</p>
            <p>Avoid drinking large amounts of strong coffee, strong tea, and especially caffeinated soft drinks and energy drinks. These may lead to dehydration and can negatively impact your sleeping patterns. </p>
        </div>
        
        <div>
            
            <h1 class="text-center">"Best food buys"</h1>
            <p class="text-center">The following is an overview of foods with high nutritional value which are generally affordable, accessible and have a longer shelf life. You may use this list as inspiration for what to keep at home during self-quarantine or longer home stays.</p>
            <h2 class="text-center">Long-lasting fresh fruits and vegetables </h2>
            <p>WHO recommends consuming a minimum of 400 g (i.e. 5 portions) of fruits and vegetables per day. Citrus fruits like oranges, clementines and grapefruit are good options, as well as bananas and apples, which can also be cut into smaller pieces and frozen for later consumption or to add to smoothies. Root vegetables such as carrots, turnips and beets, as well as vegetables like cabbage, broccoli and cauliflower are relatively nonperishable. Garlic, ginger and onions are also great options to keep at home, as they can be used to add flavour to a variety of meals.</p>
            <img src="{{ url_for('static', filename='images/9.jpg')}}"  class="rounded mx-auto d-block">
            <br>
        </div>

        <div>
            <h2 class="text-center">Frozen fruits and vegetables </h2>
            <p>All frozen fruits such as berries, pineapple and mango are great options, as they still contain high levels of fibre and vitamins and are often less expensive than the fresh versions. These frozen fruits can be added to juices, smoothies or porridge or eaten with low-fat plain yogurt after defrosting.</p>
            <p>Frozen vegetables are nutritious, quick to prepare, and consuming them can help reach the recommendations, even when fresh foods are scarce. </p>
            <img src="{{ url_for('static', filename='images/10.jpg')}}"  class="rounded mx-auto d-block">
            <br>
        </div>

        <div>
            <h2 class="text-center">Dried and canned pulses </h2>
            <p>Beans, chickpeas, lentils and other pulses are great sources or vegetable protein, fibre, vitamins and minerals. These are also rather versatile and can be used for stews, soups, spreads and salads. </p>
            
            <img src="{{ url_for('static', filename='images/11.jpg')}}"  class="rounded mx-auto d-block">
            <br>
        </div>
        

        <div>
            <h2 class="text-center">Dried fruits, nuts and seeds</h2>
            <p>Particularly unsalted and unsweetened, these may serve as healthy snacks or added to porridge, salads and other meals. Nut butters or spreads are also good options, as long as you choose 100% nut butters which do not have added sugar, salt, or partially hydrogenated or palm oils. </p>
            
            <img src="{{ url_for('static', filename='images/12.jpg')}}"  class="rounded mx-auto d-block">
            <br>
        </div>

        <div>
            <h2 class="text-center">Eggs </h2>
            <p>Eggs are a great source of protein and nutrients and are incredibly versatile. Opt for boiling or poaching rather than frying.</p>
            
            <img src="{{ url_for('static', filename='images/13.jpg')}}"  class="rounded mx-auto d-block">
            <br>
        </div>

        <div>
            <h2 class="text-center">Reduced-fat, shelf-stable milk</h2>
            <p>Dairy products provide an inexpensive source of protein and other nutrients. Choosing reduced-fat dairy is one way to reduce saturated fat consumption, while also getting all the benefits of dairy. UHT milk in a can or carton will be relatively shelf stable. Powdered milk is another shelf-stable option. </p>
            
            <img src="{{ url_for('static', filename='images/14.jpg')}}"  class="rounded mx-auto d-block">
            <br>
        </div>
{% endblock %}