{% extends "layout.html" %}
{% block content %}

	    <header class="masthead" style="background-image: url('static/images/1.svg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>covid 19 outbreak in indian</h1>
                            <span class="subheading">The total number of confirmed cases and active cases. The number of recovered cases which includes cumulative cured/discharges/migrated cases. And the total number of deaths in India due to COVID-19.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

      <div  id="maincounter-wrap" style="margin-top:15px; text-align:center; font-size: 40px;">
            <h1>Coronavirus Cases:</h1>
        <div class="maincounter-number">
            <span style="color:red">3,09,04,470 </span>
        </div>
            <h1>Deaths</h1>
        <div class="maincounter-number">
            <span style="color:red">4,10,807 </span>
        </div>
            <h1>Recovered</h1>
        <div class="maincounter-number">
            <span style="color:red">3,00,55,741</span>
        </div>
    </div>
{% endblock %}